In [5]:
# 파이썬에서 csv 읽기

import csv

with open("weather_data_25.csv") as data_file:
    data = csv.reader(data_file)
    temperatures = []
    
    for row in data:
        print(row)
        if row[1] != "temp":
            temperatures.append(int(row[1]))
print(temperatures)

['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']
[12, 14, 15, 14, 21, 22, 24]

In [6]:
# pandas로 csv 읽기

import pandas as pd

pd.read_csv("weather_data_25.csv")

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [8]:
data = pd.read_csv("weather_data_25.csv")
data["temp"]

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [12]:
data = pd.read_csv("weather_data_25.csv")
print(type(data))
print(type(data["temp"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [13]:
data.to_dict() # 데이터프레임 -> 딕셔너리

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [14]:
data["temp"].to_list() # 시리즈 -> 리스트

[12, 14, 15, 14, 21, 22, 24]

In [15]:
data["temp"].mean() # 평균 온도

17.428571428571427

In [16]:
data["temp"].max() # 최고 온도

24

In [17]:
data[data["day"] == "Monday"]

      day  temp condition
0  Monday    12     Sunny

In [18]:
data[data["temp"] == data["temp"].max()]

      day  temp condition
6  Sunday    24     Sunny

In [21]:
monday = data[data.day == "Monday"]
monday.condition

0    Sunny
Name: condition, dtype: object

In [22]:
# 섭씨 -> 화씨
monday_temp = int(monday.temp)
monday_temp_F = monday_temp * 9/5 + 32
monday_temp_F

53.6

In [23]:
data_dict = {
    "students":["amy", "james", "angela"],
    "scores":[76, 45, 65]
}
data = pd.DataFrame(data_dict)
data
# data.to_csv("new_data.csv")

  students  scores
0      amy      76
1    james      45
2   angela      65