# 리스트 comprehension

In [1]:
num = [1,2,3]
new_num = [n+1 for n in num]

In [3]:
new_num

[2, 3, 4]

In [6]:
names = ['abcd', 'efg', 'higk', 'lmn']
short_names = [name for name in names if len(name)< 4]
short_names

['efg', 'lmn']

In [7]:
names = ['abcd', 'efg', 'higk', 'lmn']
short_names = [name.upper() for name in names if len(name)< 4]
short_names

['EFG', 'LMN']

# 딕셔너리 comprehension

In [13]:
import random
names = ['abcd', 'efg', 'higk', 'lmn']
scores = {student:random.randint(1,100) for student in names}
scores

{'abcd': 30, 'efg': 61, 'higk': 62, 'lmn': 50}

In [14]:
new_scores = {student:score for (student, score) in scores.items() if score >= 60}
new_scores

{'efg': 61, 'higk': 62}

In [20]:
sentence = "what is airspeed velocity of an Unladen Swallow?"
result = {word:len(word) for word in sentence.split()}
result

{'what': 4,
 'is': 2,
 'airspeed': 8,
 'velocity': 8,
 'of': 2,
 'an': 2,
 'Unladen': 7,
 'Swallow?': 8}

In [19]:
weather_c = {
    "Monday": 12,
    "Tuesday": 14,
    "Wednesday": 15,
    "Thursday": 14,
    "Friday": 21,
    "Saturday": 22,
    "Sunday": 24,
}

weather_f = {day:(temp_c *9)+32 for (day, temp_c) in weather_c.items()}
weather_f

{'Monday': 140,
 'Tuesday': 158,
 'Wednesday': 167,
 'Thursday': 158,
 'Friday': 221,
 'Saturday': 230,
 'Sunday': 248}

In [26]:
student_dict = {
    "student" : ['abcd', 'efg', 'lmn'],
    "score" : [56, 76, 89]
}
for (key, value) in student_dict.items():
    print(value)
   # print(key)

['abcd', 'efg', 'lmn']
[56, 76, 89]

# 데이터프레임에서 반복하는 방법

In [27]:
import pandas as pd

student_dict = {
    "student" : ['abcd', 'efg', 'lmn'],
    "score" : [56, 76, 89]
}
df = pd.DataFrame(student_dict)
df

  student  score
0    abcd     56
1     efg     76
2     lmn     89

In [30]:
for (index, row) in df.iterrows():
    print(index)

0
1
2

In [28]:
for (index, row) in df.iterrows():
    print(row)

student    abcd
score        56
Name: 0, dtype: object
student    efg
score       76
Name: 1, dtype: object
student    lmn
score       89
Name: 2, dtype: object

In [31]:
for (index, row) in df.iterrows():
    print(row.student)

abcd
efg
lmn

In [33]:
for (index, row) in df.iterrows():
    if row.student == "abcd":
        print(row.score)

56

In [32]:
for (index, row) in df.iterrows():
    print(row.score)

56
76
89

# NATO 알파벳

In [39]:
import pandas as pd
data = pd.read_csv("nato_phonetic_alphabet_26.csv")
# data.to_dict()
df = pd.DataFrame(data)
df

   letter      code
0       A      Alfa
1       B     Bravo
2       C   Charlie
3       D     Delta
4       E      Echo
5       F   Foxtrot
6       G      Golf
7       H     Hotel
8       I     India
9       J    Juliet
10      K      Kilo
11      L      Lima
12      M      Mike
13      N  November
14      O     Oscar
15      P      Papa
16      Q    Quebec
17      R     Romeo
18      S    Sierra
19      T     Tango
20      U   Uniform
21      V    Victor
22      W   Whiskey
23      X     X-ray
24      Y    Yankee
25      Z      Zulu

In [41]:
phonetic_dict= {row.letter : row.code for (index, row) in data.iterrows()}
phonetic_dict

{'A': 'Alfa',
 'B': 'Bravo',
 'C': 'Charlie',
 'D': 'Delta',
 'E': 'Echo',
 'F': 'Foxtrot',
 'G': 'Golf',
 'H': 'Hotel',
 'I': 'India',
 'J': 'Juliet',
 'K': 'Kilo',
 'L': 'Lima',
 'M': 'Mike',
 'N': 'November',
 'O': 'Oscar',
 'P': 'Papa',
 'Q': 'Quebec',
 'R': 'Romeo',
 'S': 'Sierra',
 'T': 'Tango',
 'U': 'Uniform',
 'V': 'Victor',
 'W': 'Whiskey',
 'X': 'X-ray',
 'Y': 'Yankee',
 'Z': 'Zulu'}

In [43]:
word= input("Enter a word: ").upper()
output_list = [phonetic_dict[letter] for letter in word]
output_list

Enter a word: cat

['Charlie', 'Alfa', 'Tango']